# Superuser - used by Docker to init the container and by the setup script
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres

# Connection
DB_HOST=localhost
DB_PORT=5432

# App user - created by the setup script, used by your application
DB_USER=app_user
DB_PASSWORD=apppassword
DB_NAME=yourdbname